* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    text-align: justify;
    background-image: linear-gradient(to right, #FDD5C0, #FB8289, #F46161 );
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #f89499;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color:#FFCF62;
    text-align: center;
    text-shadow: 1px 1px 2px #F46161;
}

h2 {
    color: #F89D5B;
}

p {
    text-align: justify;
}